<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Buildabrick</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <style>
            body {
                background-color: #e5e5e5;
            }
        </style>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Buildabrick</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/usersearch">Users</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/guilds">Guilds</a></li>
                    <li><a href="/forum">Forum</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href='/logout'><span class="glyphicon glyphicon-log-out"></span>Log out</a></li>
                    {% else %}
                    <li><a href='/register'><span class="glyphicon glyphicon-user"></span>Register</a></li>
                    <li><a href='/login'><span class="glyphicon glyphicon-log-in"></span>Log in</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% if user.is_authenticated %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href='user/{{ user.id }}'>Profile</a></li>
                    <li><a href='friends'>Friends</a></li>
                    <li><a href='messages'>Messages</a></li>
                </ul>
            </div>
        </nav>
        {% endif %}
        {% block content %}
        {% endblock %}
        <br><br>
        <p>Developed by Buildabrick team, 2022</p>
    </body>
</html>